<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    {% if cart %}
        <form method="post">
            {% for i in cart.cartitem_set.all %}
                <p>{{i.menu.name}} x{{i.quantity}}</p>
                <p>{{i.price}}</p>
            {% endfor %}
            <button type="submit">{{cart.sum}}</button>
        </form>
    {% endif %}
    {% if emp == 0 %}
        <h1>cart ว่างเปล่า</h1>
    {% endif %}
</body>
</html>
