<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css">

    <style>
        .amount-label {
            cursor: pointer;
            font-size: 1.5rem;
        }
        .frame {
            margin: 15px
        }
    </style>
</head>
<body>
    <form method="post" id="form">
        {% csrf_token %}
        {% if menu %}
            <div class="frame">
                <h1>{{menu.name}}</h1>
                <p>{{menu.description}}</p>
                <div class="d-flex justify-content-center align-items-center mb-4">
                    <label class="amount-label" onclick="decreaseAmount()">-</label>
                    <label id="amount" class="mx-3">1</label>
                    <input type="hidden" id="amount_input" name="amount" value="1">
                    <label class="amount-label" onclick="increaseAmount()">+</label>
                </div>
            </div>
        {% endif %}
    </form>
    <div class="text-center">
        <button class="btn btn-primary" onclick="checkshop({{ menu.shop.id }}, {{ cart }}, form)">Add to Cart</button>
    </div>
</body>
</html>

<script>
    function decreaseAmount() {
        let amountLabel = document.getElementById('amount');
        let amountInput = document.getElementById('amount_input');
        let currentAmount = parseInt(amountLabel.innerHTML);
        if (currentAmount > 1) {
            currentAmount -= 1;
            amountLabel.innerHTML = currentAmount;
            amountInput.value = currentAmount;
        }
    }

    function increaseAmount() {
        let amountLabel = document.getElementById('amount');
        let amountInput = document.getElementById('amount_input');
        let currentAmount = parseInt(amountLabel.innerHTML);
        currentAmount += 1;
        amountLabel.innerHTML = currentAmount;
        amountInput.value = currentAmount;
    }

    function checkshop(shop, cart, form) {
        if (shop != cart && cart != 0) {
            swal({
                title: 'Warning',
                text: 'The old cart will be deleted because you are changing shops.',
                icon: 'warning',
                buttons: {
                    cancel: "Cancel",
                    confirm: {
                        text: "OK",
                        value: true,
                        visible: true,
                        className: "btn-danger",
                        closeModal: true
                    }
                }
            }).then((userConfirm) => {
                if (userConfirm) {
                    document.getElementById('form').submit();
                }
            });
        } else {
            document.getElementById('form').submit();
        }
    }
    
</script>
