<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    {% if shop %}
        <div style="background-color: pink;">
            <h1>{{shop.name}}</h1>
            <p>{{shop.description}}</p>
        </div>
    {% endif %}
    
    <div>
        <a href="{% url 'selectmenu' shop.id 0 %}">Main</a>
        {% if category %}
            {% for i in category %}
                <a href="{% url 'selectmenu' shop.id i.id %}">{{i}}</a>
            {% endfor %}
        {% endif %}
    </div>
    {% if menu %}
        <div>
            {% for i in menu %}
                {% url "selectmenuorder" shop.id i.id as selmeor %}
                <div style="background-color: yellow;">
                    <a href="{{selmeor}}">
                        <div>
                            <p>{{i.name}}</p>
                            <p>{{i.description}}</p>
                            <p>{{i.price}}</p>
                            {% if i.image %}
                                <img src="{{ i.image.url }}" alt="{{ i.name }}" style="max-width: 100px; max-height: 100px; object-fit: cover;">
                            {% else %}
                                <span style="color: gray;">No Image Available</span>
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1>Cartว่าง.jpg 🥲</h1>
    {% endif %}
    <divn >
    </div>
</body>
</html>

