<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {% if item %}
            <h1>{{item.menu.name}}</h1>
            <p>{{item.menu.description}}</p>
            <label onclick=decreaseAmount()>-</label>
            <label id='amount'>{{item.quantity}}</label>
            <input type="hidden" id="amount_input" name="amount" value="{{item.quantity}}">
            <label onclick=increaseAmount()>+</label>
            <br>
            <button type="submit">save</button>
        {% endif %}
    </form>
    <form action="{% url 'delete_cart_item' item.id %}" method="post">
        {% csrf_token %}
        <button type="submit">🗑️</button>
    </form>
</body>
</html>

<script>
    function decreaseAmount() {
        let amountLabel = document.getElementById('amount');
        let amountInput = document.getElementById('amount_input');
        let currentAmount = parseInt(amountLabel.innerHTML);
        if (currentAmount > 1) {
            currentAmount -= 1;
            amountLabel.innerHTML = currentAmount;
            amountInput.value = currentAmount;
        }
    }

    function increaseAmount() {
        let amountLabel = document.getElementById('amount');
        let amountInput = document.getElementById('amount_input');
        let currentAmount = parseInt(amountLabel.innerHTML);
        currentAmount += 1;
        amountLabel.innerHTML = currentAmount;
        amountInput.value = currentAmount;
    }
</script>
