
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Menu</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <h1 style="text-align: center;">ชื่อร้าน</h1>

    {% if error %}
    <div class="error-message">{{ error }}</div>
    {% endif %}

    <a href="{% url 'menu_create' %}" class="btn btn-warning">Add New Menu Item</a>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Image</th>
                <th>Categories</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for menu_data in menu_with_categories %}
            <tr>
                <td>{{ menu_data.item.name }}</td>
                <td>{{ menu_data.item.price }}</td>
                <td>{{ menu_data.item.description }}</td>
                <td>
                    {% if menu_data.item.image %}
                        <img src="{{ menu_data.item.image.url }}" alt="{{ menu_data.item.name }}"
                             style="max-width: 100px; max-height: 100px; object-fit: cover;">
                    {% else %}
                        <span style="color: gray;">No Image Available</span>
                    {% endif %}
                </td>
                


                <td>
                    {% for category in menu_data.categories %}
                    <span class="badge badge-info">{{ category }}</span>
                    {% endfor %}
                </td>
                <td>
                    <a href="{% url 'menu_edit' menu_data.item.id %}" class="btn btn-primary">Edit</a>
                    <form action="{% url 'menu_delete' menu_data.item.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</body>

</html>